@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    border: 40px solid yellow;
    margin: 40px;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    border: 10px solid black;
    padding-right: 20px;
    padding-left: 20px;
    margin: 40px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
    margin: 40px;
    /*margin: 0;*/
    /*overflow: visible;*/
}