@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    border: 40px solid yellow;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    border: 10px solid black;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 80px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline;
    padding: 5px;
    /*margin: 105px;*/
    margin-left: 80px;
    margin-right: 115px;
}